@{
    ViewData["Title"] = "Неупълномощен достъп";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    @if (!User.Identity!.IsAuthenticated)
    {
        <p class="text-danger">Трябва да <a asp-area="Identity" asp-page="/Account/Login">влезете в профила си</a> първо.</p>
        <div style="text-align: center;">
            <img src="~/error/unauthorized_401.jpg" alt="Unauthorized Access" style="width: 300px; height: auto;">
        </div>
    }
    else
    {
        <p class="text-danger">Нямате разрешение да достъпите тази страница.</p>
        <p class="text-danger">Моля, свържете се с вашия администратор, за да поискате достъп.</p>
        <a asp-controller="Home" asp-action="Index">Върнете се към началната страница</a>
        <div style="text-align: center;">
            <img src="~/error/unauthorized_403.jpg" alt="Unauthorized Access" style="width: 300px; height: auto;">
        </div>
    }
</header>
<a href="https://www.freepik.com/free-vector/403-error-forbidden-with-police-concept-illustration_7906226.htm#fromView=search&page=1&position=3&uuid=d600e816-dd39-41f1-b1a6-693a7500831e">Image by storyset on Freepik</a>
<a href="https://www.freepik.com/free-vector/401-error-unauthorized-concept-illustration_7906232.htm#fromView=search&page=1&position=1&uuid=8fd261ee-6553-4eda-8d17-4b0708317c74">Image by storyset on Freepik</a>