.card {
    display: flex;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-footer {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.message {
    color: #26d026
}

.card-footer .btn {
    width: 100%;
    justify-content: stretch;
}

button.btn:nth-child(2) {
    background-color: red;
}

    button.btn:nth-child(2):hover {
        background-color: #f05555d4;
    }


.card-footer .btn:hover {
    background-color: #26d026;
}

@media (max-width: 650px) {
    .card-footer {
        justify-content: space-between;
    }

        .card-footer .btn {
            width: 100%;
        }
}
