@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}
<link rel="stylesheet" href="~/Styles/StyleSheet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="login-container">
    <div class="cover">
        <div class="front">
            <img src="~/Styles/gallery-1.jpg" alt="">
            <div class="text">
            </div>
        </div>
    </div>

    <div class="forms">
        <div class="form-content">
            <div class="login-form">
                <div asp-validation-summary="ModelOnly" class="validate-form"></div>
                <div class="title">Вход</div>
                <form id="account" method="post">
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input asp-for="Input.Username" class="form-control" autocomplete="Username" placeholder="Потребителско име/Email" aria-required="true" />
                        </div>
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" placeholder="Парола" aria-required="true" />
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <div class="button input-box">
                            <input id="login-submit" type="submit" value="Вход">
                        </div>
                        <div class="sign-form">
                            <div id="sign-in" class="text sign-up-text">Нямаш акаунт?</div>
                            <a asp-area="Identity" asp-page="/Account/Register">Регистрирай се!</a>
                        </div>
                    </div>
                </form>
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p class="ext-login">
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    <i class="fab fa-facebook-f"></i> <span>Вход чрез @provider.DisplayName</span>
                                </button>
                            }
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
