@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/Styles/StyleSheet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="login-container">
    <div class="cover">
        <div class="front">
            <img src="~/Styles/gallery-3.jpg" alt="">
            <div class="text">
                <span class="text-1">Complete miles of journey <br> with one step</span>
                <span class="text-2">Let's get started</span>
            </div>
        </div>
    </div>
    <div id="register" class="forms">
        <div class="form-content">
            <div class="login-form">
                <div asp-validation-summary="ModelOnly" class="validate-form"></div>
                <div class="title">Register</div>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="fas fa-user"></i>
                            <input asp-for="Input.Username" class="form-control" autocomplete="Username" placeholder="Username" aria-required="true" />
                        </div>
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                        <div class="input-box">
                            <i class="fas fa-user"></i>
                            <input asp-for="Input.FirstName" class="form-control" autocomplete="First name" placeholder="First name" aria-required="true" />
                        </div>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        <div class="input-box">
                            <i class="fas fa-user"></i>
                            <input asp-for="Input.LastName" class="form-control" autocomplete="Last name" placeholder="Last name" aria-required="true" />
                        </div>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input asp-for="Input.Email" class="form-control" autocomplete="Email" placeholder="Email" aria-required="true" />
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" placeholder="Password" aria-required="true" />
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Confirm password" aria-required="true" />
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        <div class="button input-box">
                            <input id="registerSubmit" type="submit" value="Sumbit">
                        </div>
                        <div class="text sign-up-text">Already have an account? <a asp-area="Identity" asp-page="/Account/Login">Login now</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
